<footer>
  <a href='mailto:{{ .Site.Data.social.email.link }}' class='hoverme inv'>
    <section class='bg-hl pd aln-c'>
      <div class='r r-x r-s-a'>
        <small class='up wide'>
          <span class='passive'>Leave me a message!</span>
          <span class='active'>{{ .Site.Data.social.email.link }}</span>
        </small>
      </div>
    </section>
  </a>
  <a href='https://gitlab.com/williamtrungle/trangxtran' class='inv'>
    <section class='bg-ac pd aln-c'>
      <div class='r r-x r-s-a'>
        <small class='up wide'>
          Copyright &copy; {{.Site.LastChange.Format "2006"}}
        </small>
      </div>
    </section>
  </a>
</footer>
