{{- $quality := .Params.quality | default "q75" }}
{{- $position := .Params.position | default "Center" }}
{{- with (.Resources.GetMatch (printf "%s*" .Params.banner)) }}
<div class='fg-bg hero r r-x r-a-c' style='background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("{{ (.Resize (printf "1920x %s %s" $quality $position)).RelPermalink }}");background-position:center 85%'>
{{- end }}
  {{- with .Site.Home }}
  <div class='aln-c content'>
    <h1 class='display animate-opacity'>
      <a href='{{ .Site.BaseURL }}'>
        <span id='display-left'>{{ .Title }}</span>
        <span id='display-middle'> {{ with .Params.delimiter }}{{ . }}{{ end }}</span>
        {{ with .Params.names }}
        <span id='display-right'
              class="txt-rotate"
              data-period="2000"
              data-rotate='[{{ delimit . ", " | replaceRE "([[:alpha:]]+)" "\"$1\"" }}]'>
        </span>
        {{ end }}
      </a>
    </h1>
    <div class='h4 animate-left anm-4' style='margin:auto;max-width:50rem'>{{ .Content }}</div>
    <div class='p'>
      <a  href='#main'><span class='up small wide animate-left anm-8'><button>Explore</button></span></a>
      <a  href='{{ "about" | relURL }}'><span class='up small wide animate-left anm-12'><button>About</button></span></a>
    </div>
  </div>
  {{- end }}
</div>
