<head>
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Param "title" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ with .Param "description" }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Param "author" }}<meta name="author" content="{{ . }}">{{ end }}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,700|Unica+One|Nunito:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script type='text/javascript' src='{{ "js/typewritter.js" | relURL }}'></script>

    {{- $opts := (dict "targetPath" "css/style.css" "enableSourceMap" true "includePaths" (slice "assets")) }}
    {{- $style := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS $opts | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink | absURL }}" integrity="{{ $style.Data.Integrity }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    {{ template "_internal/google_analytics.html" . }}
</head>
