{{ define "main" }}
<main id='main'>
  <article class='aln-c g' style='padding:2.4rem'>
    {{- range $i, $e := where .Data.Pages "Type" "collabs" }}
    {{ $p := .Params.position | default "Center" }}
    {{- with (.Resources.GetMatch (printf "%s*" .Params.banner)) | default (index (.Resources.ByType "image") 0) }}
    <img class='bw-color' style='cursor:pointer' src='{{ (.Fill (printf "600x900 %s" $p)).RelPermalink }}' onclick='showgallery("csl-{{$i}}")'>
    {{- end }}
    {{- end }}
  </article>
  {{- range $i, $e := where .Data.Pages "Type" "collabs" }}
  <div id='csl-{{$i}}' class='lightbox'>
    <span class='aln-c r r-x r-a-c r-s-a gallery-title' style='z-index:20;pointer-events:none'>
      <h1 class='pad fg-bg'>{{ .Title | humanize | title }}</h1>
    </span>
    <span class='aln-c r r-x r-a-c r-s-a close-button' onclick='hidegallery("csl-{{$i}}")'>
      <span class='c'>&times;</span>
    </span>
    <div data-flickity='{"wrapAround":true}'>
      {{- range .Resources.ByType "image" }}
      <div>
        <img style='pointer-events:none' src='{{ (.Resize "x1080").RelPermalink }}'>
      </div>
      {{- end }}
    </div>
  </div>
  {{- end }}
  {{- $quality := .Params.bgcollabq | default "q75" }}
  {{- with (.Resources.GetMatch (printf "%s*" .Params.bgcollab)) }}
  <section class='pad' style='background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("{{ (.Resize (printf "1920x %s" $quality)).RelPermalink }}");background-position:center 85%;background-attachment:fixed'>
  {{- end }}
    <!-- <h2 class='aln-c'>Testimonials</h2> -->
    <div id='testimonials' data-flickity='{"prevNextButtons":false,"pageDots":false,"wrapAround":true,"autoPlay":true, "pauseAutoPlayOnHover":false, "groupCells":true}' style='z-index:10'>
      {{- range $i, $e := where .Data.Pages "Type" "testimonials" }}
      <div style='width:25vw'></div>
      <div style='width:50vw' class='bg-bg'>
        <div class='aln-c' style='max-width:60rem;margin:0 auto;padding: 4rem 4rem 2rem;'>
        {{ .Content }}
        </div>
      </div>
      <div style='width:25vw'></div>
      {{- end }}
    </div>
  </section>
</main>
<script>
function showgallery(id) {
  var c = document.getElementById(id);
  c.style.display = "block";
  var flkty = Flickity.data(c);
  flkty.resize()
}
function hidegallery(id) {
  var c = document.getElementById(id);
  c.style.display = "none";
}
</script>
{{ end }}
