{{ define "main" }}
<main>
  {{- range $i, $e := .Data.Pages.Reverse -}}
  <article class='aln-c content'>
    <h2 class='tight-title fg-ac'>{{ .Title }}</h2>
    {{ .Content }}
    {{ with .Params.social }}
    <dl class='horizontal'>
      {{ range . }}
      <a href='{{ (index $.Site.Data.social .).link }}'>
        <dt class='h3 fg-ac'>{{ (index $.Site.Data.social .).class | safeHTML }}</dt>
      </a>
      {{ end }}
    </dl>
    {{ end }}
  </article>
  {{ if isset .Params "banner" }}
  {{- with printf "%s*" .Params.banner | .Resources.GetMatch }}
  <div class='hero' style='background-image:url("{{ (.Fill (printf "1920x1080 %s" ($e.Params.quality | default ""))).RelPermalink }}")'></div>
  {{- end }}
  {{- end }}
  {{- end }}
  <section class='bg-bg pd'>
    <div class='r content'>
      <div class='aln-l wide up c c-20 fg-ac' style='padding:0 2em'>
        <small>Hobbies and</small>
        <small>Interests</small>
      </div>
      {{ with .Site.Home }}
      {{ if isset .Params "stuff" }}
      <dl class='aln-r c horizontal'>
        {{ range .Params.stuff }}
        <dt class='wide up'><small>{{ . }}</small></dt>
        {{ end }}
      </dl>
      {{ end }}
      {{ end }}
    </div>
  </section>
</main>
{{ end }}
