.overtext {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  color: white;
  font-family: "Mr Dafoe";
  font-size: 3em;
  h1 { font-weight: 400 !important;}
  padding: 0 2em;
}

.img-dark { filter:brightness(75%);}

.p { padding-top: 1.6rem !important; padding-bottom: 1.6rem !important;}
.pd { padding-top: calc(#{$spacing} / 2) !important; padding-bottom: calc(#{$spacing} / 2) !important;}
.pad { padding-top: $spacing !important; padding-bottom: $spacing !important;}
.box { padding: 2.4rem}

.f {
  position: fixed;
  z-index: 10;

  &.f-t, &.f-b { left: 0; right: 0; min-height: 1.5em}
  &.f-t {
    top: 0;
    &~main { margin-top: 1.5em}}
    &.p~main { margin-top: calc(3.2rem + 1.5em)}
  &.f-b {
    bottom: 0;
    &~main { margin-bottom: 1.5em}
    &.p~main { margin-bottom: calc(3.2rem + 1.5em)}}}

.hero {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  h2 { font-size: 6rem}

  img {
    filter: brightness(75%);
    -webkit-filter: brightness(75%);
    width: 111%;
    height: inherit;
    object-fit: cover}}

.f.p~main {
  .hero { height: calc(100vh - 1.5em - 3.2rem)}
  // .hero.carousel  { height: calc(100vh - 2 * (1.5em + 3.2rem))}
}

.bw-color {
  filter: grayscale(1);
  transition: filter 200ms;
  &:hover {
    filter: grayscale(0);
  }
}

.gallery-title {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  cursor: pointer;
  transition: all 200ms linear;
  border: solid 1px black;
  width: 8rem;
  height: 8rem;
  margin: 2rem;
  border-radius: 100%;
  background-color: black;
  // background-color: rgba(1,1,1,0.5);
  // margin: 0; padding: 0;
  // height: 10rem;
  // width: 10rem;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  span {
    // flex: 1 1 auto;
    // display: block;
    // width: 100%;
    // margin: 0; padding: 0;
    color: white;
    font-size: 4rem;
  }
  &:hover {
    // transform: translateY(-1rem);
    span { color: red;}
    background-color: transparent;
    border-color: red;
  }
}

.flickity-button {
  background: transparent;
  &:hover {
    border: solid 2px black;
    background: transparent;
  }
}

.flickity-prev-next-button {
  width: 3rem;
  height: 11rem;
  border-radius: 100%;
}

#testimonials {
  .flickity-prev-next-button {
    width: 3rem;
    height: 3rem;
    &.previous {
      left: 42%;
      top: 109%;
      &:hover {
        border: none;
      }
    }
    &.next {
      right: 42%;
      top: 109%;
      &:hover {
        border: none;
      }
    }
  }
}
