.lightbox {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  div {
    background: white;
    position:relative;
    // z-index: 100;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 100%;
      width: auto;
      max-width: 100vw;
      object-fit: cover;
    }
  }
  // div::after {
    // content: " ";
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // width: 60%;
    // background: green;
    // cursor: s-resize;
  // }
}
