*,
*:after,
*:before {
  background-repeat: no-repeat;
  box-sizing: inherit}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%}

body {
  margin: 0}

main {
  overflow: hidden;
  min-height: 100vh}

details, main, summary {
  display: block}

[hidden], template {
  display: none}

a {
  background-color: transparent}

a:active, a:hover {
  outline: 0}

img {
  border: 0;
  display: block;
  width: 100%}

hr {
  box-sizing: content-box;
  height: 0}

pre {
  overflow: auto}

code, kbd, pre, samp {
  font-size: 1em}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0}

button {
  overflow: visible}

button, select {
  text-transform: none}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer}

input {
  line-height: normal}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none}

fieldset {
  border: none;
  padding: 0;
  margin: 0 2px}

legend {
  border: 0;
  padding: 0}

textarea {
  overflow: auto}

optgroup {
  font-weight: 700}
