main {
  min-height: calc(100vh - #{$spacing} - 16rem - 3.2rem - 1.5em)!important}

/* Grid gallery container */
.g {
  position: relative;
  display: grid;
  grid-gap: 2.4rem;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  justify-items: center}

/* Flex row for horizontal alignment */
.r {
  width: 100%;
  display: flex;
  flex-direction: column;
  @media(min-width:40rem) { flex-direction: row}

  &.r-x   { flex-direction: row}
  &.r-s-b { justify-content: space-between}
  &.r-s-a { justify-content: space-around}
  &.r-a-t { align-items: flex-start}
  &.r-a-c { align-items: center}
  &.r-a-b { align-items: flex-end}

  .c {
    flex: 1 1 auto;
    display: block;
    margin-left: 0;
    width: 100%;
    @media(min-width:40rem) {
      margin-left: 1rem;
      margin-right: 1rem;

      &:first-of-type { margin-left: 0}
      &:last-of-type  { margin-right: 0}}

    &.c-10, &.c-20, &.c-33, &.c-40, &.c-50,
    &.c-60, &.c-66, &.c-75, &.c-80, &.c-90 { max-width: 100%}

    @media(min-width:40rem) {
      &.c-10 { flex: 0 0 10%;      max-width: 10%}
      &.c-20 { flex: 0 0 20%;      max-width: 20%}
      &.c-25 { flex: 0 0 25%;      max-width: 25%}
      &.c-33 { flex: 0 0 33.3333%; max-width: 33.3333%}
      &.c-40 { flex: 0 0 40%;      max-width: 40%}
      &.c-50 { flex: 0 0 50%;      max-width: 50%}
      &.c-60 { flex: 0 0 60%;      max-width: 60%}
      &.c-66 { flex: 0 0 66.6666%; max-width: 66.6666%}
      &.c-75 { flex: 0 0 75%;      max-width: 75%}
      &.c-80 { flex: 0 0 80%;      max-width: 80%}
      &.c-90 { flex: 0 0 90%;      max-width: 90%}}}

  &.r-p .c {
    @media(min-width:40rem) {
      margin-left: 2rem;
      margin-right: 2rem;
      &:first-of-type { margin-left: 0}
      &:last-of-type  { margin-right: 0}}
    @media(min-width:60rem) {
      margin-left: 4rem;
      margin-right: 4rem;
      &:first-of-type { margin-left: 0}
      &:last-of-type  { margin-right: 0}}}

  dl.c {
    margin-bottom: 1rem;
    dt:last-of-type { margin-bottom:0}}}

article {
  padding-top: $spacing;
  padding-bottom: $spacing;
  &.content img { margin-bottom: $spacing;}}

.content {
  overflow: hidden;
  padding-left: 3.6rem;
  padding-right: 3.6rem;
  margin: 0 auto;
  max-width: $content-width;
  &.content-l { max-width: calc(#{$content-width} * 1.25);}}

.mobile { display: block; @media(min-width:40rem) { display:none}}
.desktop {
  display:none !important;
  @media(min-width:40rem) {
    display:block !important;
    &.r { display: flex !important}}}

@media(min-width:40rem) {
dl.horizontal dt.desktop { display: inline-block !important}}

nav.box { padding: calc(2 * #{$spacing});}
