body {
  background-color: $color-background;
  color: $color-body;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  font-size: 1.9em;
  line-height: 1.75}

code,pre,kbd,samp {font-family: 'Inconsolata',monospace}

h1,h2,h3,h4,h5,h6 {margin: 2.4rem 0; font-weight: 300}

.tight-title { margin-top: 0}

h1,.h1 {font-size: 2em}
h2,.h2 {font-size: 2.5em}
h3,.h3 {font-size: 1.3em}
h4,.h4 {font-size: 1.15em}
h5,.h5 {font-size: 1em}
h6,.h6 {font-size: .85em}

p {margin: 0 0 1em}

blockquote {
  border-left: .1em solid #e2e5e9;
  margin: 1.5em 0;
  padding: 0 1.25em 0 1.24em}

hr {
  border: none;
  border-top: solid #e2e5e9 1px;
  margin: 3.2rem 0;
  &.short {
    width: 6rem;
    border-top: solid black 2px;
    margin: 3.2rem auto;
    &.aln-l { margin-left: 0}
    &.aln-r { margin-right: 0}}}

b,strong {font-weight: 700}

small, .small {
  font-size: 1.2rem}

sub,sup {
  font-size: .6em;
  line-height: 0;
  position: relative;
  vertical-align: baseline}

sup {top: -.5em}

.up {
  font-weight: 300;
  position: relative;
  text-transform: uppercase;}

.display {
  text-transform: uppercase;
  letter-spacing: .05em;
  font: 400 8rem "Unica One";
  @media(max-width:40rem) { margin-bottom: 1em}
}

b {
  &.up {
    font-weight: 700;
    letter-spacing: 0.15em;}}

.wide { letter-spacing: 0.15em}

 .aln-l { text-align: left}
 .aln-c { text-align: center}
 .aln-r { text-align: right}
 .aln-j { text-align: justify}

@media(max-width:40rem) {
  // .responsive {
    &.aln-l,&.aln-r,&.aln-c,&.aln-j { text-align: center !important}}

@media(max-width: 40rem) {
  #display-left,
  #display-middle,
  #display-right {
    font-size: 12vw;
    display: block;
  }
}

