$color-background: white;
$color-highlight: #1a1a1a;
$color-body: #696969;
$color-accent: #0e0e0e;

$spacing: 12.0rem;
$content-width: 100rem;

@import "normalize";
@import "typography";
// @import "grid";
@import "links";
@import "list";
@import "extras";
@import "position";
@import "elements";
@import "color";
@import "animations";
@import "gallery";
